/* Definindo a fonte personalizada */
@font-face {
    font-family: 'thebold';
    src: url(assets/thebold.ttf);
}

/* Estilos globais do corpo do documento */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'thebold', arial, helvetica; /* Usando a fonte personalizada 'thebold' como principal */
    -webkit-user-select: none; /* Desativando a seleção de texto para navegadores Webkit */
    -moz-user-select: none; /* Desativando a seleção de texto para navegadores Gecko */
    -ms-user-select: none; /* Desativando a seleção de texto para navegadores Internet Explorer */
    user-select: none; /* Desativando a seleção de texto para navegadores compatíveis */
}

/* Estilos para o contêiner principal */
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse; /* Organização em linha reversa para dispositivos com resolução menor */
}

/* Estilos para o cartão */
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 90px;
    height: 400px;
    width: 350px;
    background-color: rgb(250, 255, 184);
    box-shadow: 5px 5px 0px black;
    border: 3px solid grey;
    border-radius: 15px;
    transition: 1s; /* Transição suave ao passar o mouse sobre o cartão */
}

/* Estilos ao passar o mouse sobre o cartão */
.card:hover {
    background-color: rgb(255, 213, 178);
}

/* Estilos para parágrafos */
p {
    margin-top: 30px;
    font-size: 30px;
}

/* Estilos para o título */
h1 {
    font-size: 30px;
}

/* Estilos para o span */
span {
    color: yellow;
}

/* Estilos para botões */
button {
    margin-top: 20px;
    height: 40px;
    width: 100px;
    background-color: rgb(244, 253, 108);
    border-radius: 5px;
    font-family: 'thebold';
    transition: 0.5s; /* Transição suave ao passar o mouse sobre o botão */
    box-shadow: 4px 4px 0px;
}

/* Estilos ao passar o mouse sobre o botão */
button:hover {
    background-color: bisque;
    transition: 0.5s;
    font-size: 15px;
    box-shadow: 0px 0px 10px yellow;
    color: rgb(112, 112, 0);
}

/* Estilos para inputs */
input {
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    height: 40px;
    box-shadow: 0px 0px 10px rgb(255, 252, 68);
}

/* Estilos para labels */
label {
    font-family: 'Open Sans', sans-serif;
}

/* Estilos para o título secundário */
.title {
    text-align: center;
    margin-top: 20px;
}

/* Media query para telas pequenas (320px a 760px) */
@media only screen and (min-width: 320px) and (max-width: 760px) {
    .card {
        position: absolute;
        margin-top: 550px;
    }
    h1 {
        font-size: 25px;
        margin-top: 80px;
    }
}

/* Media query para telas médias (430px a 932px) */
@media only screen and (min-width: 430px) and (max-width: 932px) {
    .card {
        position: absolute;
        margin-top: 580px;
    }
    h1 {
        font-size: 50px;
    }
}

/* Media query para telas grandes (mínimo de 2048px) */
@media only screen and (min-width: 2048px) {
    img {
        height: 800px;
    }
    h1 {
        font-size: 80px;
    }
    .card {
        margin-top: 200px;
        height: 800px;
        width: 900px;
    }
    p {
        margin-top: 100px;
        font-size: 60px;
    }
    input {
        height: 100px;
        width: 600px;
        border-radius: 20px;
    }
    button {
        margin-top: 30px;
        min-height: 80px;
        width: 180px;
    }
}
